.movieDetails {
  position: relative;
  margin-top: -96px;

  &.isModal {
    margin-top: 0;
    background-color: #202225;

    > :first-child {
      // max-width: 80%;
      // margin: 0 auto -50%;
    }

    .content {
      grid-template:
        'poster space title rating-summary' minmax(76px, auto)
        'poster space description description' auto / 200px 3rem auto minmax(auto, 200px);
      margin: 0;
      padding: 0 1.5rem 2rem;
    }

    .title {
      h1 {
        font-size: 3.2rem;
        line-height: 1.4;
      }
    }

    .ratingSummaryWrapper {
      transform: scale(.95);
    }
  }
}

.content {
  position: relative;
  display: grid;
  grid-template:
    'poster space title rating-summary' minmax(76px, auto)
    'poster space description description' minmax(auto, 230px)
    'poster space rating-section rating-section' auto / 200px 3rem auto minmax(auto, auto);
  margin: 0;
  padding-bottom: 2rem;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
  z-index: 1;
}

.posterWrapper {
  grid-area: poster;

  .poster {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 150%;
    background-size: cover;
    background-position: center 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  }
}

.title {
  grid-area: title;

  h1 {
    display: block;
    margin: 3rem 0 0;
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: -1px;

    small {
      margin-left: 1rem;
      opacity: 0.5;
      font-size: 2rem;
      letter-spacing: normal;
    }
  }
}

.description {
  grid-area: description;

  p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

.ratingSummaryWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-area: rating-summary;
}

.ratingSection {
  grid-area: rating-section;
  display: flex;
  flex-direction: column;
  .titleSection {
    opacity: 0.5;
    font-size: 1.6rem;
    letter-spacing: normal;
  }
  .ratingList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    .ratingWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      min-width: 160px;
      
      max-width: 188.39px;
      width: 160px;
      position: relative;
      padding: 1.5rem 3rem;
      border-radius: 5px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      background-color: rgb(68, 68, 68, 0.1);

      .userWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
        .userAvatar {
          width: 42px;
          height: 42px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
          border-radius: 50%;
          background-size: cover;
          background-position: center;
          overflow: hidden;
        }
        .userDetail {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;
          .number {
            font-size: 1.6rem;
            font-weight: 700;
          }
          .userName {
            margin-top: .5rem;
            font-size: 1.1rem;
            opacity: .5;
          }
        }
      }
    }
  }
}

