.container {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 600px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 570px) {
  .maxWidthSm {
    max-width: 570px;
  }
}

@media screen and (min-width: 960px) {
  .maxWidthMd {
    max-width: 960px;
  }
}

@media screen and (min-width: 1280px) {
  .maxWidthLg {
    max-width: 1280px;
  }
}